<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li {% if ('rooms' in app.request.get('_route')) or ('blank' in app.request.get('_route')) %}class="active"{% endif %}>
            <a href="{{ path('admin_rooms_list') }}">Rooms</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li {% if 'cities' in app.request.get('_route') %}class="active"{% endif %}>
                <a href="{{ path('admin_cities_list') }}">Cities</a>
            </li>
            <li {% if 'genres' in app.request.get('_route') %}class="active"{% endif %}>
                <a href="{{ path('admin_genres_list') }}">Genres</a>
            </li>
            <li {% if 'notifications' in app.request.get('_route') %}class="active"{% endif %}>
                <a href="{{ path('admin_notifications_list') }}">Notifications</a>
            </li>
            <li {% if 'shares' in app.request.get('_route') %}class="active"{% endif %}>
                <a href="{{ path('admin_shares_list') }}">Shares</a>
            </li>
            <li {% if 'pages' in app.request.get('_route') %}class="active"{% endif %}>
                <a href="{{ path('admin_pages_list') }}">Pages</a>
            </li>
            <li {% if 'customers' in app.request.get('_route') %}class="active"{% endif %}>
                <a href="{{ path('admin_customers_list') }}">Customers</a>
            </li>
            <li {% if 'users' in app.request.get('_route') %}class="active"{% endif %}>
                <a href="{{ path('admin_users_list') }}">Users</a>
            </li>
            <li {% if 'params' in app.request.get('_route') %}class="active"{% endif %}>
                <a href="{{ path('admin_params_edit') }}">Parameters</a>
            </li>
        {% endif %}
    </ul>
</div>