{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <a class="btn btn-success pull-right" href="{{ path('admin_shares_add') }}">Add Share <span class="fa fa-plus"></span></a>
    <h1 class="page-header">Shares</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for share in shares %}
                <tr>
                    <td>{{ share.description(app.request.locale) }}</td>
                    {% set images = [asset('uploads/shares/'~share.imgRu), asset('uploads/shares/'~share.imgEn), asset('uploads/shares/'~share.imgDe)] %}
                    <td><span class="link-like" data-src="{{ images|json_encode }}"  data-toggle="modal" data-target="#modal-view-images">view..</span></td>
                    <td>
                        <a class="btn btn-xs btn-warning" href="{{ path('admin_shares_edit', {id: share.id}) }}">edit <span class=" fa fa-pencil"></span></a>
                        <a class="btn btn-xs btn-danger" href="{{ path('admin_shares_delete', {id: share.id}) }}">delete <span class=" fa fa-close"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(shares) }}
        </div>
    </div>

    {% include 'AdminBundle:Share:modal-img.html.twig' %}
{% endblock %}