{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <a class="btn btn-success pull-right" href="{{ path('admin_shares_add') }}">Add Share <span class="fa fa-plus"></span></a>
    <h1 class="page-header">Shares</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for share in shares %}
                <tr>
                    <td>{{ share.description(app.request.locale) }}</td>
                    {% set images = [asset('uploads/shares/'~share.imgRu), asset('uploads/shares/'~share.imgEn), asset('uploads/shares/'~share.imgDe)] %}
                    <td><span class="link-like" data-src="{{ images|json_encode }}"  data-toggle="modal" data-target="#modal-view-images">view..</span></td>
                    <td>
                        <a class="btn btn-xs btn-warning" href="{{ path('admin_shares_edit', {id: share.id}) }}">edit <span class=" fa fa-pencil"></span></a>
                        <a class="btn btn-xs btn-danger" href="{{ path('admin_shares_delete', {id: share.id}) }}">delete <span class=" fa fa-close"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(shares) }}
        </div>
    </div>

    {% include 'AdminBundle:Share:modal-img.html.twig' %}
{% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" href="{{ asset('daterangepicker/daterangepicker.min.css') }}">#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>#}
    {#<script type="text/javascript" src="{{ asset('daterangepicker/jquery.daterangepicker.min.js') }}"></script>#}
    {#<script>#}
        {#var uploadsCustomersPath = '{{ uploads_games_path }}';#}

        {#$('#daterangepicker').dateRangePicker({#}
            {#autoClose: false,#}
            {#format: 'DD.MM.YYYY HH:mm',#}
            {#separator: ' to ',#}
            {#language: 'en',#}
            {#startOfWeek: 'monday',#}
            {#time: {#}
                {#enabled: true#}
            {#},#}
            {#getValue: function () {#}
                {#if ($('#daterange1').val() && $('#daterange2').val())#}
                    {#return $('#daterange1').val() + ' to ' + $('#daterange2').val();#}
                {#else#}
                    {#return '';#}
            {#},#}
            {#setValue: function (s, s1, s2) {#}
                {#$('#daterange1').val(s1);#}
                {#$('#daterange2').val(s2);#}
            {#}#}
        {#}).bind('datepicker-open', function () {#}
            {#$('div.date-picker-wrapper').css('z-index', 9999999);#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}