<form class="modal fade review-modal" tabindex="-1" role="dialog" id="feedback-form" novalidate>
    <div class="modal-dialog" role="document">
        <div class="block-layer">
            <span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ 'evaluate.quest'|trans }}</h4>
            </div>
            <div class="modal-body">

                <div class="review-input-wrap">
                    <input name="name" required placeholder="{{ 'name'|trans }}*">
                </div>
                <div class="review-input-wrap">
                    <input type="email" name="email" required placeholder="{{ 'email'|trans }}*">
                </div>
                <div class="review-input-wrap">
                    <input type="tel" name="phone" required placeholder="{{ 'phone'|trans }}*">
                </div>
                <div>
                    <textarea name="comment" cols="30" rows="2" placeholder="{{ 'your.comment'|trans }}*"></textarea>
                </div>

                <div>
                    <input type="number" name="time" placeholder="{{ 'passed.time'|trans }}">
                </div>

                <p>{{ 'how.many.stars'|trans }}</p>

                <div class="rating-title">{{ 'atmosphere'|trans }}
                    <div>
                        <span class="atmosphere"></span><span class="atmosphere-rating">0</span>
                    </div>
                </div>

                <div class="rating-title">{{ 'story'|trans }}
                    <div>
                        <span class="story"></span><span class="story-rating">0</span>
                    </div>
                </div>

                <div class="rating-title">{{ 'service'|trans }}
                    <div>
                        <span class="service"></span><span class="service-rating">0</span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-warning">{{ 'estimate'|trans }}</button>
            </div>
        </div>
    </div>
</form>