{% extends 'WebBundle:layouts:main.html.twig' %}

{% block content %}
    <!--  CONTENT -->
    <div class="content container-fluid">

        <div class="row room genesis">
            <div class="room-slides room-images">
                <ul class="slides">
                    {% if room.slides is empty %}
                        {% set slide = room.thumbnail ?: 'default_thumbnail.jpg' %}
                        <li>
                            <img src="{{ asset('uploads/rooms/'~slide) }}" alt="{{ room.title }}" class="room-images">
                        </li>
                    {% endif %}
                    {% for slide in room.slides %}
                        <li>
                            <img src="{{ asset('uploads/rooms/'~slide) }}" alt="{{ room.title }}" class="room-images">
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {#<img src="{{ asset('uploads/rooms/'~room.thumbnail) }}" alt="{{ room.title }}" class="room-images">#}

            <div class="room-left-panel">
                {% set logo = room.logo ?: 'default_logo.png' %}
                <img src="{{ asset('uploads/rooms/'~logo) }}" alt="{{ room.title }}" class="room-logo">
                <h3 class="room-title">{{ room.title }}</h3>
                <p class="room-complexity">{{ 'Complexity'|trans }} 3</p>
                <div class="room-description">{{ room.description|raw }}</div>
                <p class="team">{{ 'Players'|trans }} {{ room.playersMin }}-{{ room.playersMax }}</p>
                <p class="time-to-play">{{ room.timeMax }} {{ 'minutes' }}</p>
            </div>

            <a href="#" class="team-results">{{ 'Team results'|trans }}</a>

            {#<p class="average-time">{{ 'Average time' }} <span></span> {{ 'minutes'|trans }}</p>#}

            <div class="room-right-panel">
                <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> &nbsp;{{ room.phone }}</p>
                <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp;{{ room.email }}</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ room.address }}</p>
            </div>
        </div>

        <section class="schedule">
            <h2 class="text-center">{{ 'Quest schedule'|trans }}</h2>
            <div class="schedule-slider">
                <div class="custom-controls text-center">
                    <ul class="list-inline">
                        {% for sevenDays in schedule %}
                            <li>
                                {{ sevenDays[0].dates[0].date|date('j') }} {{ sevenDays[0].dates[0].date|date('F')|trans }}
                                <br>
                                {{ sevenDays[0].dates|last.date|date('j') }} {{ sevenDays[0].dates|last.date|date('F')|trans }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <ul class="slides">
                    {% for sevenDays in schedule %}
                        <li>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        {% for game in sevenDays[0]['dates'] %}
                                            <th class="{% if 'now'|date('d.m.Y') == game.date|date('d.m.Y') %} th-today cell-today{% endif %}{% if game.date|date('l') in ['Saturday', 'Sunday'] %} th-weekend{% endif %}">
                                                <span class="font-s">{% if 'now'|date('d.m.Y') == game.date|date('d.m.Y') %}{{ 'Today'|trans }}{% endif %}</span>
                                                <br>
                                                {{ game.date|date('j') }} {{ game.date|date('F')|trans }}
                                                <br>
                                                <span class="font-s">{{ game.date|date('l')|trans }}</span>
                                            </th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in sevenDays %}
                                        <tr>
                                            <td class="cell-time">{{ row.time }}</td>
                                            {% for game in row.dates %}
                                                <td class="{% if 'now'|date('d.m.Y') == game.date|date('d.m.Y') %} cell-today{% endif %}"
                                                    data-date-time="{{ game.date }} {{ row.time }}"
                                                    data-prices="{{ game.prices|json_encode }}">
                                                    {% if game.prices is empty %}
                                                        <div class="cell cell-expired">
                                                            {{ 'No'|trans }}<br>{{ 'game'|trans }}
                                                        </div>
                                                    {% else %}
                                                        {% if game.busy %}
                                                            <div class="cell cell-expired">
                                                                <span class="game-time">{{ row.time }}</span>
                                                                - {{ 'from'|trans }}
                                                                <br>
                                                                <span class="game-price">{{ game.prices|first.price }}</span> {{ room.currency }}
                                                            </div>
                                                        {% else %}
                                                            {% if game.prices|first.price < 600 %}
                                                                {% set priceClass = 'price-xs' %}
                                                            {% elseif game.prices|first.price >= 600 and game.prices|first.price < 700 %}
                                                                {% set priceClass = 'price-s' %}
                                                            {% elseif game.prices|first.price >= 700 and game.prices|first.price < 800 %}
                                                                {% set priceClass = 'price-m' %}
                                                            {% elseif game.prices|first.price >= 800 %}
                                                                {% set priceClass = 'price-l' %}
                                                            {% endif %}
                                                            <div class="cell {{ priceClass }}">
                                                                <span class="game-time">{{ row.time }}</span>
                                                                - {{ 'from'|trans }}
                                                                <br>
                                                                <span class="game-price">{{ game.prices|first.price }}</span> {{ room.currency }}
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="form-reservation">
            <h2 class="text-center">{{ 'Book game'|trans }}</h2>
            <div class="row greeting-form">
                <div class="col-sm-12 text-center">
                    <h3>{{ room.title }}</h3>
                    <img src="{{ asset('uploads/rooms/'~logo) }}" alt="{{ room.title }}" class="room-logo">
                    <p>
                        <i class="li-ico fa fa-exclamation"></i>
                        <span>{{ 'Please, select a game'|trans }}.</span>
                    </p>
                </div>
            </div>
            <div class="booking-form">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <h3>{{ room.title }}</h3>
                        <img src="{{ asset('uploads/rooms/'~logo) }}" alt="{{ room.title }}" class="room-logo">
                    </div>
                    <div class="col-sm-4">
                        <ul>
                            <li>
                                <i class="li-ico fa fa-map-marker"></i>
                                <span class="color-orange">{{ 'Place'|trans }}:</span> <span>{{ room.address }}</span>
                            </li>
                            <li>
                                <i class="li-ico fa fa-calendar"></i>
                                <span class="color-orange">{{ 'Date'|trans }}:</span> <span id="date">--.--.----</span>
                            </li>
                            <li>
                                <i class="li-ico fa fa-clock-o"></i>
                                <span class="color-orange">{{ 'Time'|trans }}:</span> <span id="time">--:--</span>
                            </li>
                            <li>
                                <i class="li-ico fa fa-users"></i>
                                <span class="color-orange">{{ 'Players'|trans }}:</span> <span id="players">0</span>
                            </li>
                            <li>
                                <i class="li-ico fa fa-money"></i>
                                <span class="color-orange">{{ 'Price'|trans }}:</span> <span
                                        id="price">0</span> {{ room.currency }}
                            </li>
                            <li>
                                <i class="li-ico fa fa-exclamation"></i>
                                <span class="font-s">{{ 'Pre-booking is required'|trans }}.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div>
                            <input type="text" name="name" required placeholder="{{ 'Name'|trans }}*">
                        </div>
                        <div>
                            <input type="text" name="lastName" required
                                   placeholder="{{ 'Last Name'|trans }}*">
                        </div>
                        <div>
                            <input type="email" name="email" required placeholder="Email*">
                        </div>
                        <div>
                            <input type="tel" name="phone" required
                                   placeholder="{{ 'Phone'|trans }}*">
                        </div>
                        <div>
                            <select required name="players">
                                <option disabled selected>{{ 'Players'|trans }}*</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <input type="text" name="discount"
                                   placeholder="{{ 'Discount'|trans }}">
                            <span class="input-group-btn">
                                        <button class="btn btn-warning" type="button">{{ 'Use discount' }}</button>
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center btn-wrap">
                        <span class="fa fa-2x fa-spinner fa-pulse"></span>
                        <button type="submit" class="btn btn-warning">{{ 'Book game'|trans }}</button>
                    </div>
                </div>
            </div>
            <div class="row result-form">
                <div class="col-sm-4">
                    <h3 class="text-center">{{ 'Congratulations'|trans }}!</h3>
                    <p class="color-orange text-center">{{ 'You have successfuly booked the game'|trans }}</p>
                    <p>{{ 'Мы свяжемся с Вами ближайшее время, по указанному Вами номеру телефона'|trans }}: <span
                                id="result-form-phone"></span></p>
                    <p>{{ 'Все детали Вашего заказа мы отправили на'|trans }}: <span id="result-form-email"></span></p>
                </div>
                <div class="col-sm-4 form-middle">
                    <h3 class="text-center">{{ 'Your order'|trans }}:</h3>
                    <p class="color-orange text-center">{{ 'Quest'|trans }} - {{ room.title }}</p>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span class="color-orange">{{ 'Place'|trans }}:</span> <span>{{ room.address }}</span>
                        </li>
                        <li>
                            <i class="fa fa-calendar"></i>
                            <span class="color-orange">{{ 'Date'|trans }}:</span> <span id="result-form-date"></span>
                        </li>
                        <li>
                            <i class="fa fa-clock-o"></i>
                            <span class="color-orange">{{ 'Time'|trans }}:</span> <span id="result-form-time"></span>
                        </li>
                        <li>
                            <i class="fa fa-user"></i>
                            <span class="color-orange">{{ 'Players'|trans }}:</span> <span
                                    id="result-form-players"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3 class="text-center">{{ 'Price'|trans }}</h3>
                    <p class="text-center"><span class="font-xxl color-orange"
                                                 id="result-form-price"></span> {{ room.currency }}</p>
                    <p>{{ 'Our contacts'|trans }}:</p>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>{{ room.phone }}</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span>{{ room.email }}</span>
                        </li>
                    </ul>
                    <div class="text-center" id="result-form-buttons"></div>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            <div class="row">
                <div id="google-maps"></div>
            </div>
        </div>

        <section class="feedbacks">
            <h2 class="text-center">{{ 'Feedbacks'|trans }}</h2>

            {% for feedback in room.feedbacks %}
                <div class="media review">
                    <div class="media-left">
                        <img class="media-object avatar" src="{{ asset('img/avatar.svg') }}" alt="avatar">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#" class="review-name">{{ feedback.name }}</a>
                            <span class="review-date">{{ feedback.createdAt|date('d.m.Y') }}</span>
                        </h4>
                        <p>{{ feedback.comment|nl2br }}</p>
                        <div class="review-rating">
                            <div class="star-block">{{ 'Atmosphere'|trans }}
                                <span class="star">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" height="12"
                     width="12" viewBox="0 0 12 12">
                  <path fill="#ec971f" fill-rule="evenodd"
                        d="M 6 0 C 6 0 7.98 3.77 7.98 3.77 C 7.98 3.77 12 4.58 12 4.58 C 12 4.58 9.2 7.73 9.2 7.73 C 9.2 7.73 9.71 12 9.71 12 C 9.71 12 6 10.17 6 10.17 C 6 10.17 2.29 12 2.29 12 C 2.29 12 2.8 7.73 2.8 7.73 C 2.8 7.73 0 4.58 0 4.58 C 0 4.58 4.02 3.77 4.02 3.77 C 4.02 3.77 6 0 6 0"/>
                </svg>
              </span>
                                <span>{{ feedback.atmosphere }}</span>
                            </div>
                            <div class="star-block">{{ 'Story'|trans }}
                                <span class="star">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" height="12"
                     width="12" viewBox="0 0 12 12">
                  <path fill="#ec971f" fill-rule="evenodd"
                        d="M 6 0 C 6 0 7.98 3.77 7.98 3.77 C 7.98 3.77 12 4.58 12 4.58 C 12 4.58 9.2 7.73 9.2 7.73 C 9.2 7.73 9.71 12 9.71 12 C 9.71 12 6 10.17 6 10.17 C 6 10.17 2.29 12 2.29 12 C 2.29 12 2.8 7.73 2.8 7.73 C 2.8 7.73 0 4.58 0 4.58 C 0 4.58 4.02 3.77 4.02 3.77 C 4.02 3.77 6 0 6 0"/>
                </svg>
              </span>
                                <span>{{ feedback.story }}</span>
                            </div>
                            <div class="star-block">{{ 'Service'|trans }}
                                <span class="star">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" height="12"
                     width="12" viewBox="0 0 12 12">
                  <path fill="#ec971f" fill-rule="evenodd"
                        d="M 6 0 C 6 0 7.98 3.77 7.98 3.77 C 7.98 3.77 12 4.58 12 4.58 C 12 4.58 9.2 7.73 9.2 7.73 C 9.2 7.73 9.71 12 9.71 12 C 9.71 12 6 10.17 6 10.17 C 6 10.17 2.29 12 2.29 12 C 2.29 12 2.8 7.73 2.8 7.73 C 2.8 7.73 0 4.58 0 4.58 C 0 4.58 4.02 3.77 4.02 3.77 C 4.02 3.77 6 0 6 0"/>
                </svg>
              </span>
                                <span>{{ feedback.service }}</span>
                            </div>
                            <div class="star-block">{{ 'Pass time'|trans }}:
                                <span class="time">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" height="12"
                     width="12" viewBox="0 0 12 12">
                  <path fill="#ec971f" fill-rule="evenodd"
                        d="M 6 12 C 2.69 12 0 9.32 0 6 C 0 2.69 2.69 0.01 6 0.01 C 9.32 0.01 12 2.69 12 6 C 12 9.32 9.32 12 6 12 Z M 7.97 2.22 C 7.97 2.22 6.7 1.79 6.7 1.79 C 6.7 1.79 5.37 5.79 5.37 5.79 C 5.37 5.79 5.38 5.79 5.38 5.79 C 5.35 5.86 5.34 5.93 5.34 6 C 5.34 6.3 5.53 6.54 5.79 6.63 C 5.79 6.63 5.79 6.64 5.79 6.64 C 5.79 6.64 9.79 7.97 9.79 7.97 C 9.79 7.97 10.21 6.7 10.21 6.7 C 10.21 6.7 6.85 5.58 6.85 5.58 C 6.85 5.58 7.97 2.22 7.97 2.22 Z"/>
                </svg>
              </span> <span>{{ feedback.time }} {{ 'min'|trans }}.</span></div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <a href="#" class="btn btn-warning show-results" data-toggle="modal"
               data-target="#feedback-form">{{ 'Leave feedback'|trans }}</a>

            {% include 'WebBundle:Room:feedback-form.thml.twig' %}

        </section>
    </div>

    {% include 'WebBundle:layouts/includes:flash-modal.html.twig' %}

    <!--  CONTENT end -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMugwAfvvSHxHNaQ3gdmEr0_cgSawCc48&callback=initMap"
            async defer></script>
    <script>
        var playersTrans = '{{ "Players"|trans }}*';
        var gamesAddRoute = '{{ path('web_games_add', {slug: room.slug}) }}';
        var feedbacksAddRoute = '{{ path('web_feedbacks_add', {slug: room.slug}) }}';
        var transSuccess = "{{ 'Success'|trans }}";
        var transError = "{{ 'Error'|trans }}";
        var transSuccessFeedback = "{{ 'success feedback'|trans }}";
        var transErrorFeedback = "{{ 'error feedback'|trans }}";
        var transSuccessBooking = "{{ 'success booking'|trans }}";
        var transErrorBooking = "{{ 'error booking'|trans }}";

        /////////////////////////////////////////////////////////
        /////////////// google maps /////////////////////////////
        /////////////////////////////////////////////////////////
        var coordinates = '{{ room.coordinates }}'.split(' ');

        function initMap() {
            var myLatLng = {lat: parseFloat(coordinates[0]), lng: parseFloat(coordinates[1])};

            var map = new google.maps.Map(document.getElementById('google-maps'), {
                scrollwheel: false,
                zoom: 14,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: '/img/panic-marker.png'
            });
        }

        ///////////////////////////////////////////////////////////
        /////////////// masked input validation ///////////////////
        ///////////////////////////////////////////////////////////
        $(function () {
            $.mask.definitions['n'] = '[0-9-() ]';
            $('input[name="phone"]').mask('+nnnnn?nnnnnnnnnnnnnnnnnnnn');
        });

    </script>
    <script src="{{ asset('js/jquery.maskedinput.min.js') }}"></script>
{% endblock %}