<!--  MENU -->
<div class="open-menu"></div>
<nav class="main-menu">
    <ul>
        <li><a href="#">{{ 'about.company'|trans|capitalize }}</a></li>
        <li><a href="#">{{ 'rules'|trans|capitalize }}</a></li>
        <li><a href="{{ path('web_shares_list') }}">{{ 'shares'|trans|capitalize }}</a></li>
        <li><a href="#">{{ 'partnership'|trans|capitalize }}</a></li>
        <li><a href="#">{{ 'schedule'|trans|capitalize }}</a></li>
    </ul>
    <div class="callback-menu text-center visible-sm-block visible-xs-block">
        <button class="btn btn-warning">{{ 'callback'|trans|capitalize }}</button>
    </div>
</nav>
<!--  MENU end -->