<!--  MENU -->
<div class="open-menu"></div>
<nav class="main-menu">
    <ul>
        {% for page in menu %}
            <li><a href="{{ path('web_page_view', {slug: page.slug}) }}">{{ page.title(app.request.locale) }}</a></li>
        {% endfor %}
        <li><a href="{{ path('web_shares_list') }}">{{ 'shares'|trans|capitalize }}</a></li>
    </ul>
    <div class="callback-menu visible-sm-block visible-xs-block">
        <a href="#" class="btn btn-warning text-center" data-toggle="modal" data-target="#callback-form">{{ 'callback'|trans }}</a>
    </div>
</nav>
<!--  MENU end -->