{% extends 'WebBundle:layouts:main.html.twig' %}

{% block content %}
    <!--  CONTENT -->
    <div class="content container-fluid">
        <!--    slider start -->
        <section class="container-fluid shares-slider hidden-xs hidden-sm">
            {% if shares %}
                <div class="flexslider">
                    <ul class="slides">
                        {% for share in shares %}
                            <li>
                                <img src="{{ asset('uploads/shares/'~share.img(app.request.locale)) }}"
                                     alt="{{ share.description(app.request.locale) }}">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="custom-navigation">
                    <a href="#" class="flex-prev"></a>
                    <a href="#" class="flex-next"></a>
                </div>
            {% endif %}
        </section>
        <!--    slider end -->

        <!-- service btn-->
        <div class="container-fluid sort-container">
            <div class="row">
                <div class="col-xs-12 servise-btn">

                    {#<a href="http://tamtamlg.github.io/dontpanic/schedule" class="btn btn-link calendar"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ 'schedule'|trans }}</a>#}

                    <div class="sort-wrapper">
                        <span class="sort-text">{{ 'select.order'|trans }}</span>
                        <span class="caret"></span>
                        <ul class="sort-list">
                            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'atmosphere', 'order': 'desc'})) }}">{{ 'sort.atmosphere'|trans }}</a></li>
                            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'story', 'order': 'desc'})) }}">{{ 'sort.story'|trans }}</a></li>
                            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'service', 'order': 'desc'})) }}">{{ 'sort.service'|trans }}</a></li>
                            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'complexity', 'order': 'desc'})) }}">{{ 'sort.complexity.desc'|trans }}</a></li>
                            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'complexity', 'order': 'asc'})) }}">{{ 'sort.complexity.asc'|trans }}</a></li>
                            {#<li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'newest', 'order': 'desc'})) }}">{{ 'sort.newest.desc'|trans }}</a></li>#}
                            {#<li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'newest', 'order': 'asc'})) }}">{{ 'sort.newest.asc'|trans }}</a></li>#}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- service btn end-->

        <!--    gallery start -->
        <section class="gallery container-fluid">
            <div class="row">
                <div class="row d-flex-r">

                    {% for room in rooms %}

                        <div class="col-sm-6 col-md-4 gallery-item">
                            <div class="gallery-img-container">
                                {% set thumbnail = room['room'].thumbnail ?: 'default_thumbnail.jpg' %}
                                <img src="{{ asset('uploads/rooms/'~thumbnail) }}"
                                     alt="{{ room['room'].title(app.request.locale) }}"
                                     class="img-responsive zoom">
                                {% set logo = room['room'].logo ?: 'default_logo.png' %}
                                <img src="{{ asset('uploads/rooms/'~logo) }}" alt="" class="game-logo">
                                <img src="{{ asset('img/label-new-ru.png') }}" alt="" class="game-label-new">
                                <img src="{{ asset('img/label-partner-en.png') }}" alt="" class="game-label-partner">
                                <img src="{{ asset('img/label-share-en.png') }}" alt="" class="game-label-share">
                                <div class="game-title">
                                    <p>{{ room['room'].title(app.request.locale) }}</p>
                                </div>
                                <div class="img-hover"></div>
                                <a href="{{ path('web_rooms_schedule', {slug: room['room'].slug}) }}" class="hover-text">
                                    <div class="game-title-hover">
                                        <p>{{ room['room'].title(app.request.locale) }}</p>
                                    </div>
                                    <div class="game-img">
                                        <img src="{{ asset('uploads/rooms/'~logo) }}" alt="">
                                    </div>
                                    <div class="game-time"><span
                                                class="game-time-img"></span>{{ room['room'].timeMax }} {{ 'minutes'|trans }}
                                    </div>
                                    <div class="game-man">{{ 'players'|trans|capitalize }}:
                                        {% set playersMax = room['room'].playersMax * 13 %}
                                        {% set playersMin = room['room'].playersMin * 13 %}
                                        <span class="game-man-img" style="width: {{ playersMax }}px">
                                            <span class="game-man-full" style="width: {{ playersMin }}px"></span>
                                        </span>
                                    </div>
                                    <div class="game-complexity">
                                        <span class="game-complexity-img">
                                            <span class="game-complexity-full"
                                                  style="width: {{ room['room'].difficulty }}0%"></span>
                                        </span>{{ 'complexity'|trans|capitalize }}:
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!--    gallery end -->

        <section class="info">
            <p>{{ 'alias.about'|trans }}</p>
        </section>
    </div>
    <!--  CONTENT end -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('#flash-modal').modal('show');
            $('#flash-modal .modal-title').html('{{ "attention"|trans|capitalize }}!');
            $('#flash-modal .modal-body')
                .addClass('text-center')
                .html('{{ "service.under.construction"|trans|raw }}');
        });
    </script>
{% endblock %}