{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <h1 class="page-header">Payments</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(payments, '#', 't0.id') }}</th>
                <th>{{ knp_pagination_sortable(payments, 'Amount', 't0.amount') }}</th>
                <th>{{ knp_pagination_sortable(payments, 'Currency', 't0.currency') }}</th>
                <th>{{ knp_pagination_sortable(payments, 'Description', 't0.description') }}</th>
                <th>{{ knp_pagination_sortable(payments, 'Language', 't0.language') }}</th>
                <th>Order_id</th>
                <th>Action</th>
                <th>Version</th>
                <th>More..</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.id }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.currency }}</td>
                    <td>{{ payment.description }}</td>
                    <td>{{ payment.language }}</td>
                    <td>{{ payment.orderId }}</td>
                    <td>{{ payment.action }}</td>
                    <td>{{ payment.version }}</td>
                    <td>
                        {#<a class="btn btn-xs btn-warning" href="{{ path('admin_games_view', {id: game.id}) }}">view game info <span class=" fa fa-pencil"></span></a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(payments) }}
        </div>
    </div>
{% endblock %}