{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <a class="btn btn-success pull-right" href="{{ path('admin_cities_add') }}">Add City <span class="fa fa-plus"></span></a>
    <h1 class="page-header">Cities</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(cities, '#', 't0.id') }}</th>
                <th>{{ knp_pagination_sortable(cities, 'City[RU]', 't0.nameRu') }}</th>
                <th>{{ knp_pagination_sortable(cities, 'City[EN]', 't0.nameEn') }}</th>
                <th>{{ knp_pagination_sortable(cities, 'City[DE]', 't0.nameDe') }}</th>
                <th>TimeZone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr>
                    <td>{{ city.id }}</td>
                    <td>{{ city.name('ru') }}</td>
                    <td>{{ city.name('en') }}</td>
                    <td>{{ city.name('de') }}</td>
                    <td>{{ city.timezone }}</td>
                    <td>
                        <a class="btn btn-xs btn-warning" href="{{ path('admin_cities_edit', {id: city.id}) }}">edit <span class=" fa fa-pencil"></span></a>
                         <a class="btn btn-xs btn-danger" href="{{ path('admin_cities_delete', {id: city.id}) }}">delete <span class=" fa fa-close"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(cities) }}
        </div>
    </div>
{% endblock %}