{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <a class="btn btn-danger pull-right" href="{{ path('admin_notifications_list') }}">Cancel</a>
    <h1 class="page-header">Edit mail notification template</h1>
    {{ form_start(form) }}
    {{ form_row(form._token) }}


    <div class="panel panel-default">
        <div class="panel-heading">Mail Title</div>
        <div class="panel-body">
            <div class="col-sm-4">{{ form_row(form.titleRu) }}</div>
            <div class="col-sm-4">{{ form_row(form.titleEn) }}</div>
            <div class="col-sm-4">{{ form_row(form.titleDe) }}</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Mail Template</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <p>Available options:</p>
                    {% if form.vars.value.event == 'booked' %}
                        <ul>
                            <li>customer name: [customer_name]</li>
                            <li>customer last name: [customer_last_name]</li>
                            <li>customer email: [customer_email]</li>
                            <li>customer phone: [customer_phone]</li>
                            <li>game date: [game_date]</li>
                            <li>game time: [game_time]</li>
                            <li>game price: [game_price]</li>
                            <li>room title: [room_title]</li>
                            <li>room city: [room_city]</li>
                            <li>room address: [room_address]</li>
                            <li>room phone: [room_phone]</li>
                            <li>room email: [room_email]</li>
                            <li>liqpay button: [liqpay_btn]</li>
                            <li>new discount code: [new_discount_code]</li>
                            <li>new discount percent: [new_discount_percent]</li>
                        </ul>
                    {% elseif form.vars.value.event == 'feedback' %}
                        <ul>
                            <li>customer name: [customer_name]</li>
                            <li>customer email: [customer_email]</li>
                            <li>customer phone: [customer_phone]</li>
                            <li>customer comment: [customer_comment]</li>
                            <li>game result: [game_result]</li>
                            <li>game atmosphere: [game_atmosphere]</li>
                            <li>game story: [game_story]</li>
                            <li>game service: [game_service]</li>
                        </ul>
                    {% elseif form.vars.value.event == 'callback' %}
                        <ul>
                            <li>customer name: [customer_name]</li>
                            <li>customer email: [customer_email]</li>
                            <li>customer phone: [customer_phone]</li>
                            <li>customer comment: [customer_comment]</li>
                        </ul>
                    {% elseif form.vars.value.event == 'reward' %}
                        <ul>
                            <li>reward id: [reward_id]</li>
                            <li>reward amount: [reward_amount]</li>
                            <li>customer name: [customer_name]</li>
                            <li>customer last name: [customer_last_name]</li>
                            <li>customer email: [customer_email]</li>
                            <li>customer phone: [customer_phone]</li>
                            <li>customer percentage: [customer_percentage]</li>
                            <li>game time: [game_time]</li>
                            <li>room title: [room_title]</li>
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.messageRu) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.messageEn) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.messageDe) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">{{ form_row(form.save) }}</div>
    {{ form_end(form) }}
{% endblock %}

