{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <h1 class="page-header">Edit SMS notification template</h1>
    {{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="panel panel-default">
        <div class="panel-heading">Alpha-name</div>
        <div class="panel-body">
            <h2 style="font-size: 28px; color: #636363; padding-top: 20px;">Правила добавления подписи отправителя</h2>
            <ol>
                <li>TurboSMS позволяет подписаться в номере отправителя названием компании.</li>
                <li>Длина альфаимени может быть максимум 11 символов. Запрещается использовать:
                    <ul>
                        <li>символы {| , ; % ’ # % ! ^ = [ ] ( ) \ / ~ &lt; &gt;}” <b>разрешены только цифры, буквы латинского алфавита, пробел, а также символы .&amp;-)</b>;</li>
                        <li>названия мобильных операторов и их производные;</li>
                        <li>нецензурные слова;</li>
                        <li>телефонные номера;</li>
                        <li>короткие номера;</li>
                        <li>непонятные слова (ght, asdf…etc);</li>
                        <li>общие названия (смс, письмо и т.д.), если это не бренд компании;</li>
                        <li>имена (Vasya, Masha и т.д.). <em>Бывают случаи-исключения, когда название компании является именем, например, «Katerina», такие имена прописываем по согласованию.</em></li>
                    </ul></li>
                <li>Если альфаимя – это известный бренд (Nokia, Samsung, Coca-Cola), необходимо подтверждение прав на использование этого бренда (официальное письмо компании-владельца бренда или договор с ней, в которых указано право использования этого бренда для компании, которая намерена его использовать в качестве подписи отправителя).<br>
                    При использовании в качестве отправителя названия известной компании, необходимо предоставить от этой компании официальное письмо на фирменном бланке с разрешением использовать название компании в качестве альфаимени при отправке сообщений в интересах компании или договор, в котором будет указано право использования названия этой компании.</li>
                <li>Для использования подписи Вам её необходимо создать в разделе «Добавить подпись», после чего она отправится на проверку администратором. Подпись проходит модерацию у администратора сервиса на протяжении 2-ух часов в рабочее время.</li>
                <li>Исполнитель имеет возможность подавать оператору заявки на внесение Альфанумерических имен в список Национальных альфанумерических имен согласно срокам, установленных оператором. </li>
                <li>Заявка на внесение Альфанумерических имен в список Национальных альфанумерических имен подается исключительно при условии предоставления Заказчиком исчерпывающих и достоверных сведений, необходимых для регистрации Альфанумерического имени как Национального со стороны Операторов. Для внесения сведений, необходимых для регистрации Альфанумерического имени как Национального, Заказчику необходимо перейти в раздел «Подписи», пункт «Просмотреть подписи», выбрать свое Альфанумерическое имя и полностью заполнить все поля описания Альфанумерического имени.</li>
                <li>7.	Каждую текущую неделю Исполнитель вносит данные в электронном формате о внесении изменений в список Национальных альфанумерических имен. В случае, если со стороны операторов возникла задержка в согласовании списка Национальных альфанумерических имен, данные о внесении изменений в такой список вносятся после получения от операторов соответствующей информации.</li>
                <li><u>К категории Национальных альфанумерических имен не могут быть отнесены Альфанумерические имена, которые соответствуют следующим критериям:</u>
                    <ul><li>Альфанумерические имена, используемые международными электронными платежными системами, международными электронными кошельками, международными платформами обработки электронных платежей, международными социальными сетями, международными ОТТ- приложениями, международными игровыми Интернет-сервисами, международными сервисами электронной почты и файлообменными ресурсами.</li>
                        <li>Альфанумерические имена, используемые международными сервисами online-бронирования, иностранными банками (исключая кредитно-финансовые и финансовые учреждения, осуществляющие свою деятельность на территории Украины на основании полученной лицензии) и иностранными авиакомпаниями.</li>
                        <li>Альфанумерические имена, состоящие только из цифр, за исключением цифровых Альфанумерических имен, используемых украинскими предприятиями и организациями по предварительному согласованию с операторами (например, коммерческими банками, НБУ, государственными и коммунальными учреждениями и т.п.).</li>
                        <li>Альфанумерические имена, состоящие из символов / букв / цифр и т.п., которые в своем сочетании не имеют содержания и / или делают невозможным идентификацию отправителя.</li>
                        <li>Альфанумерические имена с использованием общих названий «SMS» и/или «Info», и тому подобное.</li>
                        <li>Выявлена связь Альфанумерического имени с Web-ресурсом доменной зоны другой страны.</li>
                        <li>Альфанумерические имена, сообщения с презентацией которых направляются через SMS-шлюзы.</li>
                        <li>Используют в своем написании имена иностранных мобильных операторов.</li>
                        <li>Альфанумерические имена, которые определены Операторами, как Международные.</li></ul></li>
            </ol>
            <p><b>*</b> Alpha-name <b>must</b> be registered on <a href="https://turbosms.ua/" target="_blank">TurboSMS</a> service.</p>
            <div class="col-sm-4">{{ form_row(form.titleRu) }}</div>
            <div class="col-sm-4">{{ form_row(form.titleEn) }}</div>
            <div class="col-sm-4">{{ form_row(form.titleDe) }}</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Mail Template</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <h2 style="font-size: 28px; color: #636363; padding-top: 20px;">Длина SMS сообщения</h2>
                    <p>Длина одного сообщения (кредит системы TurboSMS), написанного латиницей, составляет 160 символов, в том числе пробелы и другие знаки. При написании текста сообщения кирилличными символами – длина сообщения составляет 70 символов. При наличии хоть одного символа кириллицей в тексте, длина одного сообщения составляет 70 символов. В случае, если SMS-сообщение превышает стандартную длину - 160 латинских или 70 кирилличных символов, такое сообщение разбивается на части, каждая часть отправляется и тарифицируется как отдельное SMS-сообщение.<br>
                        <b>Обратите особое внимание</b> на то, что текст сообщения всегда необходимо писать, пропечатывая каждый символ, так как при копировании текста из другого файла система может засчитать латинский символ как кириллицу и вместо 160 латинских символов подсчитает 70 символов.</p>
                    <p>Ниже перечислены все символы, которые используются в латинской и русской с украинской раскладках:</p>
                    <p><b>Латинские:</b> ~$^[]{}@_"'-=+!#%&amp;*(),.?;:abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890<br>
                        <b>Кириллические:</b> €–№`—абвгґдєеёжзийіїклмнопрстуфхцчшщъыьэюяАБВГҐДЄЕЁЖЗИІЇЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ</p>
                    <p>Также стоит отметить, что в латинском тексте символы ~^[]{}\| считаются за два символа (согласно спецификации кодировки GSM 03.38)</p>
                    <div class="centered">
                        <h4>Таблица размеров SMS</h4>
                        <div class="data-table-container">
                            <table class="table striped-table bordered-table stripped">
                                <thead>
                                <tr>
                                    <th rowspan="2" width="70" class="x3 top first">Размер<br>sms</th>
                                    <th colspan="2" class="top">Обычное сообщение</th>
                                    <th colspan="2" class="top last">WAP Push сообщение</th>
                                </tr>
                                <tr>
                                    <th class="x2" width="150">Количество<br>символов на<br>латинице</th>
                                    <th class="x2" width="150">Количество<br>символов на<br>кириллице</th>
                                    <th class="x2" width="150">Количество<br>символов на<br>латинице</th>
                                    <th class="x2 last" width="150">Количество<br>символов на<br>кириллице</th>
                                </tr>
                                </thead>
                                <tbody><tr class="odd"><td>1</td><td>160</td><td>70</td><td>110</td><td>70</td></tr>
                                <tr class="even"><td>2</td><td>305</td><td>133</td><td>232</td><td>133</td></tr>
                                <tr class="odd"><td>3</td><td>457</td><td>199</td><td>354</td><td>199</td></tr>
                                <tr class="even"><td>4</td><td>609</td><td>265</td><td>476</td><td>265</td></tr>
                                <tr class="odd"><td>5</td><td>761</td><td>331</td><td>598</td><td>331</td></tr>
                                <tr class="even"><td>6</td><td>913</td><td>397</td><td>720</td><td>397</td></tr>
                                <tr class="odd"><td>7</td><td>1065</td><td>463</td><td>842</td><td>463</td></tr>
                                <tr class="even"><td>8</td><td>1217</td><td>529</td><td>964</td><td>529</td></tr>
                                <tr class="odd"><td>9</td><td>1369</td><td>595</td><td>1086</td><td>595</td></tr>
                                <tr class="even"><td>10</td><td>1521</td><td>661</td><td>1208</td><td>661</td></tr>
                                </tbody></table>
                        </div></div>
                    <p id="4">Одиночные SMS отправляются моментально.Массовые отправки ставятся в очередь и отправляются на платформы операторов каждую минуту. Отчёт о доставке обновляется на протяжении 7 суток.</p>

                    <h3 style="font-size: 28px; color: #636363; padding-top: 20px;">Available options</h3>
                    <ul>
                        <li>customer name: [customer_name] - wil be truncated to 10 chars</li>
                        <li>customer last name: [customer_second_name]  - wil be truncated to 10 chars</li>
                        <li>customer email: [customer_email] - attention, value length is not trimmed</li>
                        <li>customer phone: [customer_phone] - will return clean phone number, digits only</li>
                        <li>game date: [game_date] - format DD.MM.YYYY</li>
                        <li>game time: [game_time] - format HH:MM</li>
                        <li>game price: [game_price] - length depends on the administrator-defined value</li>
                        <li>room title: [room_title] - length depends on the administrator-defined value</li>
                        <li>room city: [room_city] - length depends on the administrator-defined value</li>
                        <li>room address: [room_address] - length depends on the administrator-defined value</li>
                        <li>room phone: [room_phone] - length depends on the administrator-defined value</li>
                        <li>room email: [room_email] - length depends on the administrator-defined value</li>
                    </ul>

                    <p><b>* <span style="color: red">BE CAREFUL!</span></b> Options with [customer_*] prefix are entered by customer
                    and they are can have unexpected length of value.
                    Because of it messages could be more expensive than expected.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="pull-right" data-toggle="modal" data-target="#previewModal">preview</a>
                    {{ form_row(form.messageRu) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="pull-right" data-toggle="modal" data-target="#previewModal">preview</a>
                    {{ form_row(form.messageEn) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="pull-right" data-toggle="modal" data-target="#previewModal">preview</a>
                    {{ form_row(form.messageDe) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">{{ form_row(form.save) }}</div>
    {{ form_end(form) }}
    {{ include('AdminBundle:Notification:modal_preview.html.twig') }}
{% endblock %}

