{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <h1 class="page-header">Edit mail notification template</h1>
    {{ form_start(form) }}
    {{ form_row(form._token) }}


    <div class="panel panel-default">
        <div class="panel-heading">Mail Title</div>
        <div class="panel-body">
            <div class="col-sm-4">{{ form_row(form.titleRu) }}</div>
            <div class="col-sm-4">{{ form_row(form.titleEn) }}</div>
            <div class="col-sm-4">{{ form_row(form.titleDe) }}</div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Mail Template</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <p>Available options:</p>
                    <ul>
                        <li>customer name: [customer_name]</li>
                        <li>customer second name: [customer_second_name]</li>
                        <li>customer email: [customer_email]</li>
                        <li>customer phone: [customer_phone]</li>
                        <li>game date: [game_date]</li>
                        <li>game time: [game_time]</li>
                        <li>game price: [game_price]</li>
                        <li>room title: [room_title]</li>
                        <li>room city: [room_city]</li>
                        <li>room address: [room_address]</li>
                        <li>room phone: [room_phone]</li>
                        <li>room email: [room_email]</li>
                        <li>liqpay button: [liqpay_btn]</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="pull-right" data-toggle="modal" data-target="#previewModal">preview</a>
                    {{ form_row(form.messageRu) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="pull-right" data-toggle="modal" data-target="#previewModal">preview</a>
                    {{ form_row(form.messageEn) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" class="pull-right" data-toggle="modal" data-target="#previewModal">preview</a>
                    {{ form_row(form.messageDe) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">{{ form_row(form.save) }}</div>
    {{ form_end(form) }}
    {{ include('AdminBundle:Notification:modal_preview.html.twig') }}
{% endblock %}

