{% extends 'WebBundle:layouts:main.html.twig' %}

{% block content %}
    <!--  CONTENT -->
    <div class="content container-fluid">
        <!--    slider start -->
        <section class="slider container-fluid">

        </section>
        <!--    slider end -->

        <!-- service btn-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 servise-btn">

                    <a href="http://tamtamlg.github.io/dontpanic/schedule" class="btn btn-link calendar">
                        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ 'Schedule'|trans }}
                    </a>

                    <div class="sort-wrapper">
                        <span class="sort-text">{{ 'By complexity'|trans }}</span>
                        <span class="caret"></span>
                        <ul class="sort-list">
                            <li><a href="#">{{ 'By complexity'|trans }}</a></li>
                            <li><a href="#">{{ 'By players number'|trans }}</a></li>
                            <li><a href="#">{{ 'By rating'|trans }}</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- service btn end-->

        <!--    gallery start -->
        <section class="gallery container-fluid">
            <div class="row">
                <div class="row d-flex-r">

                    {% for room in rooms %}

                        <div class="col-sm-6 col-md-4 gallery-item">
                            <div class="gallery-img-container">
                                {% set thumbnail = room.thumbnail ?: 'default_thumbnail.jpg' %}
                                <img src="{{ asset('uploads/rooms/'~thumbnail) }}" alt="{{ room.title }}"
                                     class="img-responsive zoom">
                                {% set logo = room.logo ?: 'default_logo.png' %}
                                <img src="{{ asset('uploads/rooms/'~logo) }}" alt="" class="game-logo">
                                <div class="game-title">
                                    <p>{{ room.title }}</p>
                                </div>
                                <div class="img-hover"></div>
                                <a href="{{ path('room_schedule', {slug: room.slug}) }}" class="hover-text">
                                    <div class="game-title-hover">
                                        <p>{{ room.title }}</p>
                                    </div>
                                    <div class="game-img">
                                        <img src="{{ asset('uploads/rooms/'~logo) }}" alt="">
                                    </div>
                                    <div class="game-time"><span
                                                class="game-time-img"></span>{{ room.timeMax }} {{ 'minutes'|trans }}
                                    </div>
                                    <div class="game-man">{{ 'Number of players'|trans }}:
                                        {% set playersMax = room.playersMax * 13 %}
                                        {% set playersMin = room.playersMin * 13 %}
                                        <span class="game-man-img" style="width: {{ playersMax }}px">
                                            <span class="game-man-full" style="width: {{ playersMin }}px"></span>
                                        </span>
                                    </div>
                                    <div class="game-complexity">
                                        <span class="game-complexity-img">
                                            <span class="game-complexity-full" style="width: {{ room.difficulty }}0%"></span>
                                        </span>{{ 'Difficulty'|trans }}:
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!--    gallery end -->

        <section class="info">
            <p>{{ 'About escape room'|trans }}</p>
        </section>
    </div>
    <!--  CONTENT end -->
{% endblock %}