{% extends 'WebBundle:layouts:main.html.twig' %}

{% block content %}
    <!--  CONTENT -->
    <div class="content container-fluid">
        <!--    slider start -->
        <section class="slider container-fluid">

        </section>
        <!--    slider end -->

        <!-- service btn-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 servise-btn">

                    <a href="http://tamtamlg.github.io/dontpanic/schedule" class="btn btn-link calendar">
                        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ 'Schedule'|trans }}
                    </a>

                    <div class="sort-wrapper">
                        <span class="sort-text">{{ 'By complexity'|trans }}</span>
                        <span class="caret"></span>
                        <ul class="sort-list">
                            <li><a href="#">{{ 'By complexity'|trans }}</a></li>
                            <li><a href="#">{{ 'By players number'|trans }}</a></li>
                            <li><a href="#">{{ 'By rating'|trans }}</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- service btn end-->

        <!--    gallery start -->
        <section class="gallery container-fluid">
            <div class="row">
                <div class="row d-flex-r">

                    {% for room in rooms %}
                        <div class="col-sm-6 col-md-4 gallery-item">
                            <div class="gallery-img-container">
                                <img src="{{ asset('uploads/rooms/'~room.background) }}"
                                     alt="{{ room.title(app.request.locale) }}" class="img-responsive zoom">
                                <img src="{{ asset('uploads/rooms/'~room.logo) }}" alt="" class="game-logo">
                                <div class="game-title">
                                    <p>{{ room.title(app.request.locale) }}</p>
                                </div>
                                <a href="{{ path('room_schedule', {slug: room.slug}) }}" class="img-hover"></a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!--    gallery end -->

        <section class="info">
            <p>{{ 'About escape room'|trans }}</p>
        </section>
    </div>
    <!--  CONTENT end -->
{% endblock %}