<h2>Booked New Game</h2>
<table>
    <tr>
        <td>room title</td>
        <td>{{ room.title }}</td>
    </tr>
    <tr>
        <td>room city</td>
        <td>{{ room.city.name }}</td>
    </tr>
    <tr>
        <td>room address</td>
        <td>{{ room.address }}</td>
    </tr>
    <tr>
        <td>game datetime</td>
        <td>{{ bookingData.dateTime }}</td>
    </tr>
    <tr>
        <td>declared players</td>
        <td>{{ bookingData.players }}</td>
    </tr>
    <tr>
        <td>game bill</td>
        <td>{{ bookingData.price }}</td>
    </tr>
    <tr>
        <td>discount</td>
        <td>{{ bookingData.discount }} {{ room.currency }}</td>
    </tr>
    <tr>
        <td>customer name</td>
        <td>{{ bookingData.name }}</td>
    </tr>
    <tr>
        <td>customer second name</td>
        <td>{{ bookingData.secondName }}</td>
    </tr>
    <tr>
        <td>customer email</td>
        <td>{{ bookingData.email }}</td>
    </tr>
    <tr>
        <td>customer phone</td>
        <td>{{ bookingData.phone }}</td>
    </tr>
</table>