{% extends 'WebBundle:layouts:main.html.twig' %}

{% block title %}{{ 'winners.of.game'|trans }} {{ room.title(app.request.locale) }}{% endblock %}
{% block metaDescription %}{{ room.description(app.request.locale) | striptags }}{% endblock %}
{% block metaKeywords %}quest room, escape room, escaperooms, quest in reality, escape room winners, winners{% endblock %}

{% block content %}
    <!--  CONTENT -->
    <div class="content container-fluid">
        <h1 class="text-center">{{ 'winners.of.game'|trans }} <a href="{{ path('web_rooms_schedule', {slug: room.slug}) }}">{{ room.title(app.request.locale) }}</a></h1>

        <div class="results-pagination text-center">
            <div class="row results-years">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 bordered">
                    <ul class="swing list-inline">
                        <li>
                            <a href="{{ pagination.prevYear }}" class="{{ pagination.prevYear ? '' : 'disable' }}"><b>&lt;</b></a>
                        </li>
                        <li>{{ pagination.queryDate|date('Y') }}</li>
                        <li>
                            <a href="{{ pagination.nextYear }}" class="{{ pagination.nextYear ? '' : 'disable' }}"><b>&gt;</b></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row results-months hidden-xs">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 bordered hidden-xs hidden-sm hidden-md">
                    {% for i in 1..12 %}
                        <div class="col-sm-1 {{ (pagination.queryDate|date('m')) == i ? 'active' }}">
                            <a href="{{ pagination.months[i] }}" class="{{ pagination.months[i] ? '' : 'disable' }}">
                                <span class="">{{ (i > 9 ? 'month.'~i : 'month.0'~i)|trans }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-10 bordered hidden-xs hidden-lg">
                    {% for i in 1..12 %}
                        <div class="col-sm-1 {{ (pagination.queryDate|date('m')) == i ? 'active' }}">
                            <a href="{{ pagination.months[i] }}" class="{{ pagination.months[i] ? '' : 'disable' }}">
                                <span class="">{{ (i > 9 ? 'month.'~i : 'month.0'~i)|trans[:3] }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row hidden-sm hidden-md hidden-lg results-months">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 bordered">
                    <ul class="swing list-inline">
                        <li>
                            <a href="{{ pagination.prevMonth }}" class="{{ pagination.prevMonth ? '' : 'disable' }}"><b>&lt;</b></a>
                        </li>
                        <li>{{ ('month.'~pagination.queryDate|date('m'))|trans }}</li>
                        <li>
                            <a href="{{ pagination.nextMonth }}" class="{{ pagination.nextMonth ? '' : 'disable' }}"><b>&gt;</b></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>

        <!--    photo-gallery start -->
        <section class="photo-gallery container">
            <div class="row d-flex-gallery">

                {% for game in games %}
                    <div class="photo-gallery-item">
                        <a data-fancybox="gallery" href="{{ asset('uploads/games/'~game.photo) }}" class="fancy">
                            <img src="{{ asset('uploads/games/'~game.photo) }}">
                            <ul class="photo-gallery-info">
                                <li><i class="fa fa-clock-o"></i> {{ game.result }}</li>
                                <li><i class="fa fa-calendar"></i> {{ game.datetime|date('d.m.Y') }}</li>
                            </ul>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </section>
        <!--    photo-gallery end -->

    </div>
    <!--  CONTENT end -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}