<form class="modal fade callback-modal" tabindex="-1" role="dialog" id="callback-form" novalidate>
    <div class="modal-dialog" role="document">
        <div class="block-layer">
            <span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
        </div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ 'callback'|trans }}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <input name="name" required placeholder="{{ 'name'|trans }}*">
                </div>
                <div>
                    <input name="lastName" required placeholder="{{ 'last.name'|trans }}*">
                </div>
                <div>
                    <input type="email" name="email" required placeholder="{{ 'email'|trans }}*">
                </div>
                <div>
                    <input type="tel" name="phone" required placeholder="{{ 'phone'|trans }}*">
                </div>
                <div>
                    <textarea name="comment" cols="30" rows="2" placeholder="{{ 'your.comment'|trans }}*"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning">{{ 'send'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</form>