{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Go to .. <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="fa fa-list" href="{{ path('admin_rooms_list', {slug: games.params.slug}) }}"> list rooms</a>
            </li>
            <li><a class="fa fa-calendar" href="{{ path('admin_rooms_schedule', {slug: games.params.slug}) }}"> room
                    schedule</a></li>
        </ul>
    </div>
    <h1 class="page-header">Games</h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <form action="{{ path('admin_games_list', {slug: games.params.slug}) }}" method="get">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label for="search">Search..</label>
                                    <input id="search" name="search" type="text" class="form-control"
                                           placeholder="Search for..."
                                           value="{{ app.request.get('search') }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group" id="daterangepicker">
                                <div class="col-sm-6">
                                    <label for="daterange1">DateTime start</label>
                                    <input id="daterange1" name="start" type="text" class="form-control"
                                           value="{{ app.request.get('start') }}">
                                </div>
                                <div class="col-sm-6">
                                    <label for="daterange2">DateTime end</label>
                                    <input id="daterange2" name="end" type="text" class="form-control"
                                           value="{{ app.request.get('end') }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <button class="btn btn-default pull-right" type="submit">Search!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(games, 'date time', 'g.datetime') }}</th>
                <th>{{ knp_pagination_sortable(games, 'customer name', 'gc.name') }}</th>
                <th>{{ knp_pagination_sortable(games, 'customer last name', 'gc.lastName') }}</th>
                <th>{{ knp_pagination_sortable(games, 'customer phone', 'gc.phone') }}</th>
                <th>{{ knp_pagination_sortable(games, 'customer email', 'gc.email') }}</th>
                <th>{{ knp_pagination_sortable(games, 'is paid', 'g.isPaid') }}</th>
                <th>{{ knp_pagination_sortable(games, 'result', 'g.result') }}</th>
                <th>{{ knp_pagination_sortable(games, 'photo', 'g.photo') }}</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>
                        <a href="{{ path('admin_games_show', {slug: game.room.slug, id: game.id}) }}">{{ game.datetime | date('d.m.Y H:i') }}</a>
                    </td>
                    <td>{{ game.customer.name }}</td>
                    <td>{{ game.customer.lastName }}</td>
                    <td>{{ game.customer.phone }}</td>
                    <td>{{ game.customer.email }}</td>
                    <td>{{ game.isPaid ? 'paid' : 'no' }}</td>
                    <td>{{ game.result }}</td>
                    <td>
                        {% if game.photo %}
                            <span data-photo="{{ asset('uploads/customers/' ~ game.photo) }}" data-toggle="modal" data-target="#modal-photo"
                                  style="color: #337ab7; cursor: pointer;">view..</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-xs btn-warning" href="{{ path('admin_games_edit', {slug: game.room.slug, id: game.id}) }}">edit <span class=" fa fa-pencil"></span></a>
                        <a class="btn btn-xs btn-danger" href="{{ path('admin_games_delete', {id: game.id}) }}">delete
                            <span class=" fa fa-close"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(games) }}
        </div>
    </div>

    {% include 'AdminBundle:Game:modal-photo.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('daterangepicker/daterangepicker.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('daterangepicker/jquery.daterangepicker.min.js') }}"></script>
    <script>
        {#var uploadsCustomersPath = '{{ uploads_games_path }}';#}

        $('#daterangepicker').dateRangePicker({
            autoClose: false,
            format: 'DD.MM.YYYY HH:mm',
            separator: ' to ',
            language: 'en',
            startOfWeek: 'monday',
            time: {
                enabled: true
            },
            getValue: function () {
                if ($('#daterange1').val() && $('#daterange2').val())
                    return $('#daterange1').val() + ' to ' + $('#daterange2').val();
                else
                    return '';
            },
            setValue: function (s, s1, s2) {
                $('#daterange1').val(s1);
                $('#daterange2').val(s2);
            }
        }).bind('datepicker-open', function () {
            $('div.date-picker-wrapper').css('z-index', 9999999);
        });
    </script>
{% endblock %}