{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Go to .. <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="fa fa-list" href="{{ path('admin_games_list', {slug: game.room.slug}) }}"> list games</a></li>
            <li><a class="fa fa-list" href="{{ path('admin_rooms_list', {slug: game.room.slug}) }}"> list rooms</a></li>
            <li><a class="fa fa-calendar" href="{{ path('admin_rooms_schedule', {slug: game.room.slug}) }}"> room schedule</a></li>
        </ul>
    </div>

    <h3>Booking info</h3>
    <span class="likn-like">more..</span>
    <div class="table-responsive" style="display: none;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Option</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>room</td>
                <td><a href="{{ path('admin_rooms_schedule', {slug: game.room.slug}) }}">{{ game.room.title }}</a></td>
            </tr>
            <tr>
                <td>booked by</td>
                <td>{{ game.bookedBy }}</td>
            </tr>
            <tr>
                <td>created at</td>
                <td>{{ game.createdAt | date("d.m.Y H:i:s") }}</td>
            </tr>
            <tr>
                <td>game time</td>
                <td>{{ game.datetime | date("d.m.Y H:i") }}</td>
            </tr>
            {% for key, value in game.bookingData %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>result</td>
                <td>{{ game.result }}</td>
            </tr>
            <tr>
                <td>photo</td>
                <td>{{ game.photo }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3>Customer info</h3>
    <span class="link-like">more..</span>
    <div class="table-responsive" style="display: none;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Option</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>name</td>
                <td>{{ game.customer.name }}</td>
            </tr>
            <tr>
                <td>second name</td>
                <td>{{ game.customer.lastName }}</td>
            </tr>
            <tr>
                <td>email</td>
                <td>{{ game.customer.email }}</td>
            </tr>
            <tr>
                <td>phone</td>
                <td>{{ game.customer.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3>Payments</h3>
    {% for bill in game.bills %}
        <ul>
            {% for payment in bill.payments %}
                <li>
                    {{ payment.data.order_id }}:
                    <b>{{ payment.data.amount }} {{ payment.data.currency }}</b> -
                    {{ payment.data.status }}
                </li>
                <span class="link-like">more..</span>
                <div class="table-responsive" style="display: none;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>option</th>
                            <th>value</th>
                        </tr>
                        <tbody>
                        {% for key, value in payment.data %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </ul>
    {% endfor %}

    <h3>Bills</h3>
    <ul>
        {% for bill in game.bills %}
            <li>
                {{ bill.data.order_id }}:
                {{ bill.data.amount }} {{ bill.data.currency }}
            </li>
            <span class="link-like">more..</span>
            <div class="table-responsive" style="display: none;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Option</th>
                        <th>Value</th>
                    </tr>
                    <tbody>
                    {% for key, value in bill.data %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
