{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <h1 class="page-header">Rewards</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(rewards, '#', 'r.id') }}</th>
                <th>{{ knp_pagination_sortable(rewards, 'Amount', 'r.amount') }}</th>
                <th>{{ knp_pagination_sortable(rewards, 'Is paid', 'r.isPaid') }}</th>
                <th>Customer</th>
            </tr>
            </thead>
            <tbody>
            {% for reward in rewards %}
                {#{% dump(reward) %}#}
                <tr>
                    <td>{{ reward.id }}</td>
                    <td>{{ reward.amount }} {{ reward.currency }}</td>
                    <td><a href="{{ path('admin_reward_paid', {id: reward.id}) }}">{{ reward.isPaid ? 'yes' : 'no' }}</a></td>
                    <td>
                        name: {{ reward.customer.name }}<br>
                        last name: {{ reward.customer.lastName }}<br>
                        phone: {{ reward.customer.phone }}<br>
                        email: {{ reward.customer.email  }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(rewards) }}
        </div>
    </div>
{% endblock %}