{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <a class="btn btn-success pull-right" href="{{ path('admin_genres_add') }}">Add Genre <span class="fa fa-plus"></span></a>
    <h1 class="page-header">Genres</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(genres, '#', 't0.id') }}</th>
                <th>{{ knp_pagination_sortable(genres, 'Genre[RU]', 't0.nameRu') }}</th>
                <th>{{ knp_pagination_sortable(genres, 'Genre[EN]', 't0.nameEn') }}</th>
                <th>{{ knp_pagination_sortable(genres, 'Genre[DE]', 't0.nameDe') }}</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for genre in genres %}
                <tr>
                    <td>{{ genre.id }}</td>
                    <td>{{ genre.name('ru') }}</td>
                    <td>{{ genre.name('en') }}</td>
                    <td>{{ genre.name('de') }}</td>
                    <td>
                        <a class="btn btn-xs btn-warning" href="{{ path('admin_genres_edit', {id: genre.id}) }}">edit <span class=" fa fa-pencil"></span></a>
                         <a class="btn btn-xs btn-danger" href="{{ path('admin_genres_delete', {id: genre.id}) }}">delete <span class=" fa fa-close"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(genres) }}
        </div>
    </div>
{% endblock %}