{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success pull-right" href="{{ path('admin_rooms_add') }}">Add Room <span
                    class="fa fa-plus"></span></a>
    {% endif %}
    <h1 class="page-header">Rooms</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(rooms, '#', 'r.id') }}</th>
                <th>{{ knp_pagination_sortable(rooms, 'title', 'r.titleEn') }}</th>
                <th>logo</th>
                <th>thumbnail</th>
                <th>{{ knp_pagination_sortable(rooms, 'address', 'c.nameEn') }}</th>
                <th>managers</th>
                <th>{{ knp_pagination_sortable(rooms, 'is_active', 'r.enabled') }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{ room.id }}</td>
                    <td><a href="{{ path('admin_rooms_schedule', {slug: room.slug}) }}">{{ room.titleEn }}</a></td>
                    <td>{% if room.logo %}<img width="60" src="{{ asset('uploads/rooms/' ~ room.logo) }}"
                                               alt="">{% else %}No image{% endif %}</td>
                    <td>{% if room.thumbnail %}<img width="80" src="{{ asset('uploads/rooms/' ~ room.thumbnail) }}"
                                                     alt="">{% else %}No image{% endif %}</td>
                    <td>{{ room.city.nameEn }}<br>{{ room.address }}<br>{{ room.phone }}<br>{{ room.email }}</td>
                    <td>
                        <ul>
                            {% for roomManager in room.roomManagers %}
                                <li>{{ roomManager.username }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ room.enabled ? 'yes' : 'no' }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="fa fa-pencil" href="{{ path('admin_rooms_edit', {slug: room.slug}) }}"> edit room</a></li>
                                    <li><a class="fa fa-calendar" href="{{ path('admin_blanks_list', {slug: room.slug}) }}"> edit template</a></li>
                                    <li><a class="fa fa-list" href="{{ path('admin_games_list', {slug: room.slug}) }}"> view games</a></li>
                                    <li><a class="fa fa-list" href="{{ path('admin_feedbacks_list', {slug: room.slug}) }}"> view feedbacks</a></li>
                                    <li><a class="fa fa-close" href="{{ path('admin_rooms_delete', {slug: room.slug}) }}"> delete room</a></li>
                                </ul>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(rooms) }}
        </div>
    </div>
{% endblock %}