{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <div class="pull-right">
        <a class="btn btn-info fa fa-list" href="{{ path('admin_rooms_list') }}"> Back to rooms</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-info fa fa-calendar" href="{{ path('admin_blanks_list', {slug: room.slug}) }}"> Edit
                template</a>
        {% endif %}
    </div>
    <h1 class="page-header">{{ room.title }}</h1>

    <span class="label label-default">free</span>
    <span class="label label-success">by client</span>
    <span class="label label-info">by admin</span>
    <span class="label label-warning">by manager</span>
    <span class="label label-primary">by api</span>
    <span class="label label-danger">corrective</span>

    <div class="table-responsive">
        {% for sevenDays in schedule %}
            <h3>Week {{ loop.index }}</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    {% for game in sevenDays[0]['dates'] %}
                        <th class="{% if loop.index == 1 %}th-today{% endif %} {% if game.date|date('l') in ['Saturday', 'Sunday'] %}th-weekend{% endif %}">{{ game.date|date('l') }}
                            <br>
                            <small>{{ game.date|date('d.m.Y') }}</small>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in sevenDays %}
                    <tr>
                        <th>{{ row.time }}</th>
                        {% for game in row.dates %}
                            <td class="{{ game.busy ? 'expired' : '' }}"
                                data-date-time="{{ game.date }} {{ row.time }}"
                                data-prices="{{ game.prices|json_encode }}">
                                {% if game.busy %}
                                    {% if game.busy.id is defined %}
                                        {% set btnColors = ['success', 'info', 'warning', 'primary'] %}
                                        <div class="btn-group">
                                            <button type="button"
                                                    class="btn btn-{{ btnColors[game.busy.bookedBy] }} dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Busy <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{{ path('admin_game_show', {slug: room.slug, id: game.busy.id}) }}">View
                                                        booking</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li>
                                                    <a href="{{ path('admin_games_delete', {slug: room.slug, id: game.busy.id}) }}">Delete
                                                        booking</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% else %}
                                        expired
                                    {% endif %}
                                {% else %}
                                    <div class="btn-group">
                                        <button type="button"
                                                class="btn btn-{{ game.corrective ? 'danger' : 'default' }} dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                            Free <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="book-btn" data-toggle="modal"
                                                   data-target="#bookingModal">Book game</a></li>
                                            <li><a href="#" class="corrective-btn" data-toggle="modal"
                                                   data-target="#correctiveModal">Corrective</a></li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>

    <h3>Room info</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Option</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>title</td>
                <td>{{ room.title }}</td>
            </tr>
            <tr>
                <td>slug</td>
                <td>{{ room.slug }}</td>
            </tr>
            <tr>
                <td>description</td>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <td>logo</td>
                <td><a href="{{ asset('uploads/rooms/' ~ room.logo) }}" target="_blank">{{ room.logo }}</a></td>
            </tr>
            <tr>
                <td>background</td>
                <td><a href="{{ asset('uploads/rooms/' ~ room.background) }}" target="_blank">{{ room.background }}</a>
                </td>
            </tr>
            <tr>
                <td>coordinates</td>
                <td>{{ room.coordinates }}</td>
            </tr>
            <tr>
                <td>city</td>
                <td>{{ room.city.name }}</td>
            </tr>
            <tr>
                <td>timezone</td>
                <td>{{ room.timezone.title }}</td>
            </tr>
            <tr>
                <td>address</td>
                <td>{{ room.address }}</td>
            </tr>
            <tr>
                <td>phone</td>
                <td>{{ room.phone }}</td>
            </tr>
            <tr>
                <td>email</td>
                <td>{{ room.email }}</td>
            </tr>
            <tr>
                <td>currency</td>
                <td>{{ room.currency.currency }}</td>
            </tr>
            <tr>
                <td>difficulty</td>
                <td>{{ room.difficulty }}</td>
            </tr>
            <tr>
                <td>time max</td>
                <td>{{ room.timeMax }}</td>
            </tr>
            <tr>
                <td>players max</td>
                <td>{{ room.playersMax }}</td>
            </tr>
            <tr>
                <td>players min</td>
                <td>{{ room.playersMin }}</td>
            </tr>
            <tr>
                <td>age min</td>
                <td>{{ room.ageMin }}</td>
            </tr>
            <tr>
                <td>enabled</td>
                <td>{{ room.enabled }}</td>
            </tr>

            <tr>
                <td>created at</td>
                <td>{{ room.createdAt | date('d.m.Y H:m:s') }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {% include 'AdminBundle:Game:modal_add.html.twig' %}
    {% include 'AdminBundle:Corrective:modal.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var adminGamesAddRoute = '{{ path('admin_games_add', {slug: room.slug}) }}';
        var adminCorrectivesRoute = '{{ path('admin_correctives_add', {slug: room.slug}) }}';
        var adminRoomsScheduleRoute = '{{ path('admin_rooms_schedule', {slug: room.slug}) }}';
        var userRole = '{{ is_granted('ROLE_ADMIN') ? '1' : '2' }}';
    </script>
{% endblock %}

