{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Go to .. <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="fa fa-calendar" href="{{ path('admin_rooms_schedule', {slug: room.slug}) }}"> room schedule</a></li>
            <li><a class="fa fa-list" href="{{ path('admin_rooms_list') }}"> list rooms</a></li>
        </ul>
    </div>
    <h1 class="page-header">Blank</h1>
    <h4>"{{ room.title(app.request.locale) }}" room</h4>
    <div class="table-responsive">
        <table id="blank-table" class="table table-striped">
            <thead>
            <tr>
                <th>Time\Day</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            </thead>
            <tbody>
            {% for blank in room.blanks %}
                <tr data-blank-id="{{ blank.id }}">
                    <td>
                        <div class="btn-group">
                            <button
                                    type="button"
                                    class="btn btn-xs btn-info dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                <span>{{ blank.time | date('H:i') }}</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('admin_blanks_edit', {slug: room.slug, id: blank.id}) }}" class="fa fa-pencil"> Edit</a></li>
                                <li><a href="{{ path('admin_blanks_delete', {slug: room.slug, id: blank.id}) }}" class="fa fa-close"> Delete</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        {% for price in blank.prices %}
                            {% if price.dayOfWeek == 'monday' %}
                                <div class="btn-group">
                                    <button
                                            type="button"
                                            class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">{{ price.players }} / {{ price.price }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('admin_prices_edit', {slug: room.slug, id: price.id}) }}" class="fa fa-pencil"> Edit</a></li>
                                        <li><a href="{{ path('admin_prices_delete', {slug: room.slug, id: price.id}) }}" class="fa fa-close"> Delete</a></li>
                                    </ul>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for price in blank.prices %}
                            {% if price.dayOfWeek == 'tuesday' %}
                                <div class="btn-group">
                                    <button
                                            type="button"
                                            class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">{{ price.players }} / {{ price.price }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('admin_prices_edit', {slug: room.slug, id: price.id}) }}" class="fa fa-pencil"> Edit</a></li>
                                        <li><a href="{{ path('admin_prices_delete', {slug: room.slug, id: price.id}) }}" class="fa fa-close"> Delete</a></li>
                                    </ul>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for price in blank.prices %}
                            {% if price.dayOfWeek == 'wednesday' %}
                                <div class="btn-group">
                                    <button
                                            type="button"
                                            class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">{{ price.players }} / {{ price.price }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('admin_prices_edit', {slug: room.slug, id: price.id}) }}" class="fa fa-pencil"> Edit</a></li>
                                        <li><a href="{{ path('admin_prices_delete', {slug: room.slug, id: price.id}) }}" class="fa fa-close"> Delete</a></li>
                                    </ul>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for price in blank.prices %}
                            {% if price.dayOfWeek == 'thursday' %}
                                <div class="btn-group">
                                    <button
                                            type="button"
                                            class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">{{ price.players }} / {{ price.price }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('admin_prices_edit', {slug: room.slug, id: price.id}) }}" class="fa fa-pencil"> Edit</a></li>
                                        <li><a href="{{ path('admin_prices_delete', {slug: room.slug, id: price.id}) }}" class="fa fa-close"> Delete</a></li>
                                    </ul>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for price in blank.prices %}
                            {% if price.dayOfWeek == 'friday' %}
                                <div class="btn-group">
                                    <button
                                            type="button"
                                            class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">{{ price.players }} / {{ price.price }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('admin_prices_edit', {slug: room.slug, id: price.id}) }}" class="fa fa-pencil"> Edit</a></li>
                                        <li><a href="{{ path('admin_prices_delete', {slug: room.slug, id: price.id}) }}" class="fa fa-close"> Delete</a></li>
                                    </ul>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for price in blank.prices %}
                            {% if price.dayOfWeek == 'saturday' %}
                                <div class="btn-group">
                                    <button
                                            type="button"
                                            class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">{{ price.players }} / {{ price.price }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('admin_prices_edit', {slug: room.slug, id: price.id}) }}" class="fa fa-pencil"> Edit</a></li>
                                        <li><a href="{{ path('admin_prices_delete', {slug: room.slug, id: price.id}) }}" class="fa fa-close"> Delete</a></li>
                                    </ul>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for price in blank.prices %}
                            {% if price.dayOfWeek == 'sunday' %}
                                <div class="btn-group">
                                    <button
                                            type="button"
                                            class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">{{ price.players }} / {{ price.price }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('admin_prices_edit', {slug: room.slug, id: price.id}) }}" class="fa fa-pencil"> Edit</a></li>
                                        <li><a href="{{ path('admin_prices_delete', {slug: room.slug, id: price.id}) }}" class="fa fa-close"> Delete</a></li>
                                    </ul>
                                </div>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('admin_blanks_add', {slug: room.slug}) }}" class="btn btn-success">Add time <span class="fa fa-plus"></span></a>
        {% if room.blanks is not empty %}
            <a href="{{ path('admin_prices_add', {slug: room.slug}) }}" class="btn btn-success">Add price <span class="fa fa-plus"></span></a>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/wickedpicker.css') }}">
{% endblock %}